 



 *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1300px;
    font-family: 'Mulish', sans-serif;
 }

 
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;800;900&display=swap');

  /* header section style */

  .header{

    width: 90%;
    margin: 10px auto;
  }

    /* nav  style */

  .nav-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .nav-title{

    display: flex;
    gap: 5px;
  }

  .nav-text{

    color: #131318;
    font-size: 36px;
    font-weight: 800;
    
  }


  .nav-iteam{

    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
    color: #424247;
    text-align: center; 
    font-size: 18px; 
    font-weight: 400;
    
  }

  .manu-btn{

    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
  }

  .btn-line{

    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
  }

    .nav-iteam p a{

        text-decoration: none;
    }

  /*banner style */

    .banner{

      
      background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
      background-repeat:no-repeat ;
      width: 100%;
      height: 500px;
      object-fit: cover;
      padding: 5% 0;
      margin: 50px 0;
      border-radius: 16px;
      
    }

    .banner-title{

      color: #FFF;
      font-size: 64px;
      font-weight: 800;
      text-align: center;
      
    }

    .banner-text{

      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      margin:5%;
      padding: 0 13%;

    }

      .banner-form{

        display:flex;
        padding: 16px;
        align-items:center;
        justify-content:space-between;
        gap: 24px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: 70%;
        margin: 20px auto;
      }

      .form-style{

        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        padding-left: 10px;
        padding-right: 10px;
        

      }

      .btn-form{

        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        
      }

      /*main style */



      

          
      
          
    










  @media screen  and (max-width: 576px) {

     

        

    

    .nav-iteam{

        display:none;
    }
    .manu-btn{

        display: flex;
        flex-direction: ;
    }


    
  } 
    
  
  
