 



 *{

    
    
    box-sizing: border-box;
    
    font-family: 'Mulish', sans-serif;
    max-width: 1300px;
    
 }

 
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;800;900&display=swap');

  /* header section style */

  .header{

    max-width: 1450px;
    width: 90%;
    margin: 1rem auto;
    height: 45rem;
    
  }

    /* nav  style */

  .nav-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
    
  }

  .nav-title{

    display: flex;
    gap: 5px;
  }

  .nav-text{

    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    
  }


  .nav-iteam{

    display: inline-flex;
    padding: .8rem 0;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
    color: #424247;
    text-align: center; 
    font-size: 1.25rem; 
    font-weight: 400;
    
  }

  .manu-btn{

    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
  }

  .btn-line{

    width: 1.9rem;
    height: 3px;
    background: #333;
    margin: 6px 0;
  }

    .nav-iteam p a{

        text-decoration: none;
    }

  /*banner style */

    .banner{

      
      background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
      background-repeat:no-repeat ;
      width: 100%;
      height: 600px;
      object-fit: cover;
      padding: 1.25rem 0;
      margin: 1.25rem 0;
      border-radius: 16px;
      
    }

    .banner-title{

      color: #FFF;
      font-size: 4rem;
      font-weight: 800;
      text-align: center;
      
    }

    .banner-text{

      color: #FFF;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 400;
      margin:5%;
      padding: 0 13%;

    }

      .banner-form{

        display:flex;
        padding: 16px;
        align-items:center;
        justify-content:space-between;
        gap: 1.8rem;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: 70%;
        margin: 20px auto 0 auto;
      }

      .form-style{

        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        padding-left: 10px;
        padding-right: 10px;
        

      }

      .btn-form{

        width: 11rem;
        height: 3.5rem;
        border-radius: 8px;
        background: #FF5400;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        
      }

      /*main style */

          main{

            width: 90%;
            margin: 1rem auto;
          }
            /*popular tour section style */

        .popular-tour{

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            padding-top: 50px;
            

        }

        .popular-tour-contaiter{

          width: 40%;
          height: 45%;
          
        }

        .popular-tour-img-contaiter{

            width: 40%;
            height: 40%;
            margin-top: 2rem;
        }

        .popular-tour-img-contaiter img{

          width: 100%;
          height: 80%;
          object-fit: cover;
        }

        .popular-tour-title{

          color: #131318;
          font-family: Mulish;
          font-size: 40px;
          font-weight: 800;
      
        }

        .popular-tour-text{

          color: rgba(19, 19, 24, 0.70);
          font-family: Mulish;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px; /* 162.5% */
        }

        .btn-popular-tour{

          width: 10.5rem;
          height: 3.5rem;
          border-radius: 8px;
          background: #FF5400;
          color: #FFF;
         
        }
 
        /*your destination*/


        .your-destination{

          
          margin: 2rem auto;
          padding-top: 50px;
        }

        .destination-title{

          color: #131318;
          text-align: center;
          font-family: Mulish;
          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;

        }

        .destination-text{

          color: rgba(19, 19, 24, 0.70);
          text-align: center;
          font-family: Mulish;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 162.5% */

        }

        .your-destination-img-container{

            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-template-rows: repeat(3,fr);
            gap: 15px;
            margin-top: 5px;
            
        }

        
                        
        .your-destination-img-container  img{

          width: 100%;
          height: 100%;
          object-fit: cover;
          

        }

        .grid-item-1{

            grid-column: 1 /span 6;
            grid-row: 1/span 1;
            
        }

        .grid-item-2{

          grid-column: 7 /span 6;
          


        }

        .grid-item-3{

          grid-column: 1/span 4;
          
          
        }

        .grid-item-4{

          grid-column: 5/span 5;
          
          
        }

        .grid-item-5{

          grid-column: 10/span 3;
          
        }
        .grid-item-6{

          grid-column: 1/span 5;
        }

        .grid-item-7{

          grid-column: 6/span 7;
          
        }



       /* Why Choose Us section style*/

       .Why-Choose-Us{

          
          padding-top: 50px;
       }

       .Choose-grid-container{

        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 30px;
       }

       .card1{

        grid-column: 1/span 6;
        border: 1px solid pink;
        padding:30px ;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);

       }

       .card2{

        grid-column: 7/span 6;
        border: 1px solid pink;
        padding: 30px;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        
        
       }

       .card3{

        grid-column: 3/span 6 ;
        border: 1px solid pink;
        padding: 30px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
       }

       .card-title{

        color: #131318;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
       }

       .card-text{

        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
       }


















      

          
      
          
    










  @media screen  and (max-width: 576px) {

     
    .nav-iteam{

        display:none;
    }
      
        
    }

    .banner-form  .popular-tour{

      flex-direction:column;
    }

    

     .nav-title{

      font-size: 1.38rem;
     }

  

      
    


    




    
  } 
    
  
  
